.footer-container {
  background-color: #7743db;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 30px;
  font-weight: 700;
  border-top: 1px solid #b492f3;
}
